@font-face {
  font-family: 'Exo';
  src: url('Exo20-Thin.eot');
  src:local('Exo 2.0-Thin'),
      url('./Exo2.0-Thin.otf') format("opentype"), 
      url('Exo20-Thin.eot?#iefix') format('embedded-opentype'),
      url('Exo20-Thin.woff2') format('woff2'),
      url('Exo20-Thin.woff') format('woff'),
      url('Exo20-Thin.ttf') format('truetype'),
      url('Exo20-Thin.svg#Exo2.0-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(bg.png) no-repeat;
  background-size: cover;
}

.u-c--white {
  color: white;
}

.u-ff--exo {
  font-family: 'Exo';
  font-weight: 100;
}

.u-ta--center {
  text-align: center;
}

.u-fw--bold {
  font-weight: bold;
}

.u-c--grey {
  color: #666666;
}

.u-c--yellow {
  color:#ffff66;
}

.u-mt--20 {
  margin-top: 20px;
}

.u-mt--15 {
  margin-top: 15px;
}

.u-f--13 {
  font-size: 13px;
}

.u-f--14 {
  font-size: 14px;
}

.u-f--21 {
  font-size: 21px;
}

.u-lh--10 {
  line-height: 10px;
}